<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
    <h1>Add a New Skill</h1>

    <form method="POST" action="/skills">
      <div>
        <input type="text" name="name">
      </div>
      <div>
        <input type="text" name="description">
      </div>
      <div>
        <input type="number" name="level">
      </div>
      <div>
        <input type="submit" value="Submit">
      </div>
    </form>
</body>
</html>